@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    font-family: Raleway;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #5F30E2;
    padding: 16px;
    color: white;
}

.wrapper {
    display: flex;
}

.wrapper .container {
    border-radius: 8px;
    margin: 16px;
    background: #F8F9FA;
    padding: 16px;
    flex-grow: 1;
    height: fit-content;
}


.item {
    border-radius: 16px;
    margin-top: 16px;
    padding: 24px;
    background: white;
}

.item:hover {
    background-color: #5F30E2;
    color: white;
}

.form {
    display: flex;
    padding: 16px;
    flex-direction: column;
    height: 300px;
    border-radius: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 4px;
    font-size: medium;
    font-weight: lighter;
}

.shadow {
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
}

input[type=text] {
    font-family: Raleway;
    background: #F5F1FF;
    border: 2px solid #9475EA;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 8px;
}

.btn-submit {
    width: fit-content;
    border: none;
    font-family: Raleway;
    border-radius: 16px;
    padding: 12px 24px;
    color: white;
    background: #5F30E2;
    margin-top: auto;
    align-self: flex-end;
}


.text-center {
    text-align: center;
}

.form-title {
    margin: auto 0;
}


@media only screen and (max-width: 1024px) {
    .wrapper {
        flex-direction: column-reverse;
    }

    .list-item {
        width: 90%;
    }

    .form {
        width: 100%;
    }

}